"*":
  "atom-beautify":
    json: {}
  "autocomplete-ruby":
    rsensePath: "~/.asdf/shims/rsense"
  core:
    allowPendingPaneItems: false
    disabledPackages: [
      "symbols-view"
      "language-gfm"
    ]
    projectHome: "~/code"
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    invisibles: {}
    preferredLineLength: 100
    showIndentGuide: true
    showInvisibles: true
    softWrapHangingIndent: 100
  "exception-reporting":
    userId: "82bed1e2-8d6b-a3d8-f1d6-93a436be63a1"
  linter:
    lintOnChange: false
  "linter-haml":
    executablePath: "atom.project.getPaths()[0] + \"bin/haml-lint\""
  "linter-rubocop":
    command: "bin/rubocop --force-exclusion"
  "linter-ui-default": {}
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "tree-view": {}
  welcome:
    showOnStartup: false
