"*":
  editor:
    showInvisibles: true
    showIndentGuide: true
    invisibles: {}
    preferredLineLength: 100
    fontSize: 15
    autoIndentOnPaste: false
  core:
    disabledPackages: [
      "xml-formatter"
    ]
    projectHome: "~/code"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  "exception-reporting":
    userId: "82bed1e2-8d6b-a3d8-f1d6-93a436be63a1"
  welcome:
    showOnStartup: false
  metrics:
    userId: "b6a3c5c07d7a3ea6b3a3e5504f255bd228279aad"
  "linter-rubocop":
    executablePath: "/Users/sfroehler/.rbenv/shims/"
  "atom-beautify":
    _analyticsUserId: "b9696365-d8ed-4a5c-9a5a-49ef3088e6f0"
  linter:
    lintOnChange: false
    lintOnEditorFocus: false
    subtleLinterErrors: [
      "rubocop"
    ]
    showErrorTabFile: false
    showErrorPanel: false
  rspec:
    command: "bundle exec rspec"
  "tree-view": {}
  coverage: {}
  minimap: {}
