"*":
  "atom-beautify":
    json: {}
  core:
    allowPendingPaneItems: false
    disabledPackages: [
      "symbols-view"
    ]
    projectHome: "~/code"
    telemetryConsent: "no"
  editor:
    autoIndentOnPaste: false
    fontSize: 17
    invisibles: {}
    preferredLineLength: 100
    showIndentGuide: true
    showInvisibles: true
    softWrapHangingIndent: 100
  "exception-reporting":
    userId: "82bed1e2-8d6b-a3d8-f1d6-93a436be63a1"
  linter:
    lintOnChange: false
  "linter-haml":
    executablePath: "atom.project.getPaths()[0] + \"bin/haml-lint\""
  "linter-rubocop":
    command: "bin/rubocop --force-exclusion"
  "linter-ui-default": {}
  "tree-view": {}
  welcome:
    showOnStartup: false
